In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
#Importing the dataset
#Read file from local folder
Datafilepath = "D:\python hackathon dec\Exam Stress Final.xlsx"
xl = pd.ExcelFile(Datafilepath)
sheets = xl.sheet_names
for i, sheet in enumerate(sheets):
    locals()['df'+ str(i+1)] = pd.read_excel(Datafilepath, sheet_name = sheet)
    print(locals()['df'+ str(i+1)]) #Printing dataset for clarity

  Student_id  Midterm 1  Midterm 2  final
0        S01         78         82    182
1        S02         82         85    180
2        S03         77         90    188
3        S04         75         77    149
4        S05         67         77    157
5        S06         71         64    175
6        S07         64         33    110
7        S08         92         88    184
8        S09         80         39    126
9        S10         89         64    116
  Student_id        DOB First Name  Last Name Gender     Race
0        S01 2009-01-01    Barbara    Walters      F    White
1        S02 2009-02-02       Nora      Jones      F    White
2        S03 2009-07-12    Gabriel    Willows      F    Asian
3        S04 2009-09-09       John        Doe      M    Asian
4        S05 2009-05-06       Jane        Doe      F  African
5        S06 2008-04-04        Pat     Murray      M  African
6        S07 2010-08-01      Roger  Frederick      M  African
7        S08 2009-03-03       John      Wills      M    White
8        S09 2009-10-23       Paul    Cartney      M    White
9        S10 2009-11-14     Janice      Smith      F  Spanish
        EDA  Time in mins Student_id       Exam
0     0.040             1        S01      final
1     0.024             2        S01      final
2     0.024             3        S01      final
3     0.024             4        S01      final
4     0.024             5        S01      final
...     ...           ...        ...        ...
7369  0.021           212       S010  midterm 2
7370  0.021           213       S010  midterm 2
7371  0.021           214       S010  midterm 2
7372  0.021           215       S010  midterm 2
7373  0.021           216       S010  midterm 2

[7374 rows x 4 columns]
           HR  Time in mins Student_id       Exam
0     119.023           1.0        S01      final
1     130.879           2.0        S01      final
2     131.586           3.0        S01      final
3     109.852           4.0        S01      final
4      81.178           5.0        S01      final
...       ...           ...        ...        ...
7369  171.387         214.0       S010  Midterm 2
7370  121.597         215.0       S010  Midterm 2
7371  109.165         216.0       S010  Midterm 2
7372      NaN           NaN        NaN  Midterm 2
7373      NaN           NaN        NaN  Midterm 2

[7374 rows x 4 columns]
        TEMP  Time in mins Student_id       Exam
0     22.080             1        S01      final
1     22.048             2        S01      final
2     22.022             3        S01      final
3     22.339             4        S01      final
4     22.416             5        S01      final
...      ...           ...        ...        ...
7369  22.344           212       S010  Midterm 2
7370  22.341           213       S010  Midterm 2
7371  22.344           214       S010  Midterm 2
7372  22.342           215       S010  Midterm 2
7373  22.346           216       S010  Midterm 2

[7374 rows x 4 columns]
      Time in mins    IBI Student_id       Exam
0                0  0.446        S01      final
1                1  0.473        S01      final
2                3  0.444        S01      final
3                4  0.496        S01      final
4                8  0.448        S01      final
...            ...    ...        ...        ...
3310           159  0.463       S010  midterm 2
3311           160  0.391       S010  midterm 2
3312           170  0.393       S010  midterm 2
3313           171  0.566       S010  midterm 2
3314           172  0.402       S010  midterm 2

[3315 rows x 4 columns]